// .sign{
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%);
// }
.container{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin: 30px auto;
}