/* /* .Nav{
    display: flex;
    justify-content: space-between;
}
.Nav .nav{
    display: flex;
    justify-content: space-between;
} */

/* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}  */